/* header link styling */
.blklink a:link,
.blklink a:visited,
.blklink a:hover,
.blklink a:active {
  color: rgb(68, 68, 68);
}

/* 100% height div */
div.tall {
  height: 70vh;
}

/* sidebar footer */
div.sidefoot {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* input group sizing */
.input-group-addon {
    min-width: 53px;
    text-align: middle;
}

/* shinydashboard background color */
.content-wrapper, .right-side {
  background-color: #eaeaea;
}

/* link color */
a:link,
a:visited,
a:hover,
a:active {
  color: #c3252c;
}


/* hide on mobile browsers */
.mobileHide {
  display: inline;
}
@media only screen
and (max-device-width: 480px) {
  .mobileHide { display: none; }
}
.mobileShow {
  display: none;
}
@media only screen
and (max-device-width: 480px) {
  .mobileShow { display: inline; }
}
